body {
  background-color: #222;
}

h1 {
  color: white;
}
.your_projects {
  color: #baefff;
}

.well {
  border-radius: 0;
  border-color: #222;
  background-color: #222;
}

.project_li {
  color: white;
  background-color: black;
  border-color: black;
}

.project_li_details {
  background-color: black;
  border-color: black;
}

.project_li_details_well {
  background-color: #444;
}