body {
  background-color: #111;
  color: #fff;
}

h1 {
  color: #ddd;
}
.your_projects {
  color: #baefff;
}

.your_projects:hover {
  color: #aaffaa;
  cursor: pointer;
}

.well {
  border-radius: 0;
  border-color: #111;
  background-color: #111;
}

.project_li {
  color: #ddd;
  background-color: #100;
  border-color: #100;
}

.project_li:hover {
  border-color: #baefff;
  cursor: pointer;
}

.project_li_details {
  background-color: #100;
  border-color: #100;
}

.project_li_details_well {
  background-color: #111;
}

.project_dashboard {
  !background-color: #111
}

.btn {
  color: #fff;
  background-color: #111;
  border-color: #baefff;
}

.btn:hover {
  color: #fff;
  background-color: #111;
  border-color: #aaffaa;
}

.btn:active {
  color: #fff;
  background-color: #aaffaa;
  border-color: #aaffaa;
}

.btn-delete:hover {
  border-color: #ffbaba;
}

.btn-delete:active {
  background-color: #ffbaba;
}

.form_field {
  color: #000;
}