body {
  background-color: #100;
}

h1 {
  color: #ddd;
}
.your_projects {
  color: #baefff;
}

.your_projects:hover {
  color: #aaffaa;
  cursor: pointer;
}

.well {
  border-radius: 0;
  border-color: #100;
  background-color: #100;
}

.project_li {
  color: #ddd;
  background-color: black;
  border-color: black;
}

.project_li:hover {
  border-color: #baefff;
  cursor: pointer;
}

.project_li_details {
  background-color: black;
  border-color: black;
}

.project_li_details_well {
  background-color: #100;
}

.project_dashboard {
  !background-color: #100
}

.btn {
  background-color: #100;
  border-color: #baefff;
}

.btn:hover {
  background-color: #100;
  border-color: #aaffaa;
}